body{
    margin: 0;
    padding: 3%;
}

h2{
    font-family: "EB Garamond";
    font-weight: bold;
    line-height: 1rem;
}

hr{
    color: #8f8f8f;
}

#recipe{
    margin: 3% 0;
}

#para{
    padding: 2% 2%;
}
.image{
    width: 100%;
    border-radius: 20px;
}

.para{
    font-family: "Montserrat";
    color: #8f8f8f;
    line-height: 1rem;
}

.preparation{
    background-color: #F1EAFF;
    padding: 1% 2%;
    border-radius: 20px;
}

.span{
    font-weight: bold;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.grams{
    color: #E36414;
    font-weight: bold;
    
}
