@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FF9EAA;
}

.container{
    margin: 0 auto;
    width: 500px;
    background-color: #FFD0D0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #373A40;
    backdrop-filter: blur(20px);
}

.container:hover{
    box-shadow: 0px 0px 20px #0C0C0C;
}

label{
    display: block;
    font-size: 20px;
    margin: 10px;
}

input[type="date"]{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 250px;
}

.currentDate{
    margin-top: 15px;
}

.btn{
    width: 150px;
    height: 40px;
    margin-top: 25px;
    background-color: #0C0C0C;
    color: #fff7fc;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover{
    background-color: transparent;
    color: #0C0C0C;
    border: 2px solid #0C0C0C;
    cursor: pointer;
}

#reset-btn{
    display: none;
}